@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-app-bg: var(--bg-primary);
  --color-app-surface: var(--bg-secondary);
  --color-app-border: var(--border-main);
}

@layer base {
  :root {
    --bg-primary: var(--color-white);
    --bg-secondary: var(--color-zinc-400);
    --border-main: var(--color-zinc-400);
  }

  .dark {
    --bg-primary: var(--color-zinc-900);
    --bg-secondary: var(--color-zinc-800);
    --border-main: var(--color-zinc-800);
  }
}

/* .lucide { */
/*   color: var(--color-zinc-500); */
/* } */
