@import 'tailwindcss';

@theme {
  --color-app-bg: light-dark(var(--color-zinc-50), var(--color-zinc-950));

  --color-ink-main: light-dark(var(--color-zinc-800), var(--color-zinc-200));
  --color-ink-muted: light-dark(var(--color-zinc-500), var(--color-zinc-400));

  --color-border: light-dark(var(--color-zinc-200), var(--color-zinc-800));
}

:root[data-theme='light'] { color-scheme: light; }
:root[data-theme='dark']  { color-scheme: dark; }
